@if (Global.UserConnected.UserId != null)
{
	<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="container d-flex flex-wrap justify-content-end">
	 <ul class="nav nav-pills">
	  <li class="nav-item">
	   <span class="nav-link btn btn-link px-3 text-white" asp-area="Identity">@Global.UserConnected.Email</span>
	  </li>
	  <li class="nav-item">
	   <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
	
		<span type="button" class="nav-link btn btn-link px-3 a-Clickable a-logout" value="Redirect" onclick="window.location='@Url.Action("Logout", "Home")'">
		 Logout
		</span>
	   </form>
	  </li>
	 </ul>
	</div>
}
else
{
	<span class="text-danger">Vous devez être connecté</span>
}