@*
@inject Global.UserConnected;
@model Global
*@
@if (Global.UserConnected.UserId != null)
{
	<div class="list-group-horizontal">
	<span class="nav-link" asp-area="Identity" >Hello @Global.UserConnected.Email</span>

	<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
	 <button type="submit" class="nav-link btn btn-link px-3">Logout</button>
	</form>
	</div>
}
else
{
	<span class="text-danger">Vous devez être connecté</span>
}